Django==5.2.6
Flask==3.1.2
flask_cors==6.0.1
flask_sqlalchemy==3.1.1
langchain==0.3.27
langchain_chroma==0.2.5
langchain_community==0.3.29
langchain_groq==0.3.7
langchain_huggingface==0.3.1
python-dotenv==1.1.1
gunicorn
